/*Couleurs:
texte :                  #222222
fond de page :           #EEEEEE
couleur fond en tete:    #0A4666 bleu plus foncé
couleur text en tete:    #EEEEEE
#2C6F93 bleu intermediaire mat
*/
/* === 1. Reglage generaux =============*/
*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    size: 16px;
    line-height: 1.6;
    color:#222222;
    background-color:#EEEEEE;
    margin: 0 auto;
    max-width: 900px;
    padding: 16px;
}

/* === 2. En tete et navigation ========*/
.entete{
 display:flex;
 justify-content: space-between;
 align-items: center;
 background-color: #0A4666;
 color:#EEEEEE;
 padding:12px 24px;
 list-style: none;
 margin:0;
 padding:0;
}

.entete a{
    color:#EEEEEE
}


nav ul{
    display: flex;
    /*justify-content: space-between;
    align-items: center;*/
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pied{
    border: solid 1px ;
    background-color: #DDDDDD ;
    border-color: #2C6F93;
    color:#222222;
    border-radius: 3px;
    padding:10px 0px;
    margin-top: 30px;
    text-align: center;
    font-size: small;
}





.carte-message{

}

.bouton{

}

.pied{

}

/* === 3. Contenu principal ============*/
/* === 4. Cartes de sujet ==============*/
.liste-sujet{
    display : flex;
    flex-direction:column;
    gap : 16px;
}

.carte-sujet{
    padding:0px 16px;
    border: solid 1px;
    border-radius:8px;
    border-color: #2C6F93;
    margin-top: 20px;
}
.carte-sujet>h3{
    font-size: larger;
    color:#0A4666;
}
/* === 5. Formulaires =================*/
/* === 6. Pied de page =================*/

button{
    background-color: #1D4E89;
    color : white;
    padding : 10px 20px ;
    border : none;
    border-radius:8px;
    cursor: pointer;
}